{% extends "base.html" %}

{% block content %}
  <h1>Add a New Pet</h1>
  <form method="POST" action="{{ url_for('add_pet') }}">
    {{ form.hidden_tag() }}
    <div>
      <label for="pet_name">Pet Name</label>
      {{ form.pet_name }}
    </div>
    <div>
      <label for="species">Species</label>
      {{ form.species }}
    </div>
    <div>
      <label for="photo_url">Photo URL</label>
      {{ form.photo_url }}
    </div>
    <div>
      <label for="age">Age</label>
      {{ form.age }}
    </div>
    <div>
      <label for="notes">Notes</label>
      {{ form.notes }}
    </div>
    <div>
      <button type="submit">Add Pet</button>
    </div>
  </form>
  <a href="{{ url_for('add_pet') }}">Add a Pet</a>
{% endblock %}
